body {
  background-color: #8ea7ba;
}
h1 {
  text-align: center;
}
div.insert_form {
  width: 90%;
  background-color: #afc0ce;
}
legend {
  border: 1px solid #ffffff;
}
div.form1 {
  width: 50%;
  float: left;
}

div.form2 {
  width: 50%;
  float: right;
}

table {
  border: 1px solid #ffffff;
  border-collapse: collapse;
  background-color: #afc0ce;
}
th {
  background-color: #cccccc;
  cursor: pointer;
}
th, td {
  border: 1px solid #444444;
  padding: 5px
}
table#refundTBL tr td:first-child {
  background-color: #eeeeee;
}