h1 {
  text-align: center;
}
div.insert_form {
  width: 90%;
}
legend, fieldset {
  border: 1px solid #ffffff;
  background-color: #afc0ce;
}
div.form1 {
  width: 50%;
  float: left;
}

div.form2 {
  width: 50%;
  float: right;
}

/* table {
  border: 1px solid #ffffff;
  border-collapse: collapse;
  background-color: #afc0ce;
} */
th {
  background-color: #cccccc;
  cursor: pointer;
}
th, td {
  border: 1px solid #ffffff;
  padding: 5px
}
table#refundTBL tr td:first-child {
  background-color: #eeeeee;
}
a:link {
  color:rgb(65, 65, 65);
  text-decoration: none;
}
a:visited {color:rgb(112, 112, 112);}