div.insert_form {
  width: 90%;
}

div.form1 {
  width: 50%;
  float: left;
}

div.form2 {
  width: 50%;
  float: right;
}

table {
  border: 1px solid #444444;
  border-collapse: collapse;
}
th {
  background-color: #cccccc;
  cursor: pointer;
}
th, td {
  border: 1px solid #444444;
  padding: 5px
}
table#refundTBL tr td:first-child {
  background-color: #eeeeee;
}