h1 {
  text-align: center;
}
div {
  display: flex;
  justify-content: center;
}
ul {
  background-color: #afc0ce;
  border: 1px solid rgb(255, 255, 255);
  width: 120px;
  margin: 10px;
  padding-right: 20px;
}
li {
  margin: 10px;
}
a:link {
  color:rgb(65, 65, 65);
  text-decoration: none;
}
a:visited {color:rgb(112, 112, 112);}